h1, h2, #slogan{
    font-family: 'Tangerine', serif;
    font-size: 125px;
    text-align: center;
  }
  .logo{
      text-indent: -999999px;
      background-image: url(../images/logo2.png);
      width: 299px;
      height: 168px;
  } 
  h2{
      font-size: 100px
  }
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    text-align: center;

}
.order-btn{
    color: green;
}
img{
    max-width: 500px;
    max-height: 300px;
}
.hov{
    display: hide;
}
.container-fluid{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}
.box col-sm-6{
    float: left;
    margin: 10px;
    border: 10px;
    width: 500px;
}
.img-desc{
    text-align: center;
    padding: 5px;
}
.hov {
    padding: 5px;
    width: 100%;
    margin: auto;
    margin-top: -75%;
    position: absolute;
    height: 100%;
    background-color:;
    opacity: 90%;
}