h1, h2, #slogan{
    font-family: 'Tangerine', serif;
    font-size: 125px;
    text-align: center;
    color: crimson;
  }

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    text-align: center;

}
img{
    max-width: 500px;
    max-height: 300px;
}
.hov{
    display: hide;
}
.container-fluid{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}
.box col-sm-6{
    float: left;
    margin: 10px;
    border: 10px;
    width: 500px;
}
.img-desc{
    text-align: center;
    margin-top: auto;
    color: black;
    display: block;
    opacity: 100%;
}
.hov {
    padding: 2px;
    width: 55%;
    height: 100%;;
    margin: auto;
    margin-top: -37%;
    position: absolute;
    height: 100%;
    background-color:palegoldenrod;
    opacity: 80%;
    transition: 0.5 , ease;
}

img.sp{
    width: 80%;
    height: 100%;
}
.container-fluid-flav{
    background-color:rgb(34, 33, 27);
    padding: 40px;
    width: fit-content;
    margin: 20px;
}
#order{
    font-family:  'Tangerine', serif;
    font-size: 90px ;
    font-style: italic;
    color: black; 
    margin-top: 30%;
}
.size{
    width: 60%;
    height: 60%;
}
.crustp{
    display: none;
    font-size: xx-large;
}
.topsp{
    display: none;
    font-size: xx-large;
}
.crust-txt, .topping-txt, #or{
    color: darkgoldenrod;
}
.option{
    background-color: black;
}
.btn{
    text-align: center;
    position: absolute;
    align-self: flex-end;
}
.space{
    text-decoration: underline;
    text-decoration-color: yellow;
}
input[type=["checkbox"] {
    display: none;
}
input[type=checkbox]:before{
    content:"\2714";
    border: 0.1em solid #000;
    display: inline-block
    width 2em;
    height: 4em;
    padding-left: -0.1em; 
    padding-bottom: -0.1em;
    margin-right: -0.1em

}



















